<div class="container">
  <div class="row">
    <hr>
    <div class="row">
      <%= @post.location %>
      <br>
      <%= @post.body %>
      <br>
      <%= @post.category.name %>
    </div>
  </div>
</div>
